GOOGLE_SHEET_ID=google_sheet_id_here
DESTINATION_BUCKET=s3_bucket_name_here
AWS_SOURCE_PROFILE=aws_profile_here
AWS_DEST_PROFILE=default
GOOGLE_SHEET_ID=
GOOGLE_SHEET_NAME=
GCP_CREDENTIALS_PATH=


SSM_REGION=


SNOWFLAKE_ACCOUNT=snowflake_account
SNOWFLAKE_USER=snowflake_username
SNOWFLAKE_PASSWORD=snowflake_password
SNOWFLAKE_DATABASE=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_ROLE=
