GOOGLE_SHEET_ID=
DESTINATION_BUCKET=
AWS_SOURCE_PROFILE=
AWS_DEST_PROFILE=
GOOGLE_SHEET_ID=
GOOGLE_SHEET_NAME=
GCP_CREDENTIALS_PATH=


SSM_REGION=


SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_DATABASE=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_ROLE=
