boto3==1.42.66
dbt-common==1.37.3
dbt-core==1.11.7
dbt-extractor==0.6.0
dbt-protos==1.0.440
dbt-semantic-interfaces==0.9.0
dbt-snowflake==1.11.3
google-auth==2.49.0
gspread==6.2.1
psycopg2-binary==2.9.11
python-dotenv==1.2.2
requests==2.32.5
snowflake-connector-python==4.3.0
SQLAlchemy==2.0.48
pandas==3.0.1
pyarrow==23.0.1